html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'montserrat', sans-serif;
}


#morning {
    background-image: url(./images/morning.jpg);
}

#evening {
    background-image: url(./images/evening.jpg);

}

#night {
    background-image: url(./images/night.jpg);
}

#weather {
    font-size: 4rem;
    margin:0;
    font-weight: 900;
}

p {
    color: white;
}

#weather-display {
    display: flex;
    justify-content: space-between;
}

#town-search {
    border: none;
    background-color: transparent;
    outline: none;
    caret-color: white;
    border-bottom: 2px solid white;
    color: white;
}

#town-search-button {
    border: none;
    background-color: transparent;
    outline: none;
}

#current-temperature {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom:0;

}

#town, #date, #time, #town-search {
    margin: 0;
    font-weight:200;
}

.weather-parameter-right-description {
    margin-bottom: 0;
}

.weather-parameter-right {
    font-size: 1.5rem;
    margin-top: 0;
}

h1 {
    color: white;
    font-size: 5rem;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    text-align: center;
}




