html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'montserrat', sans-serif;
}




#morning {
    background-image: url(./images/morning.jpg);
}

#evening {
    background-image: url(./images/evening.jpg);

}

#night {
    background-image: url(./images/night.jpg);
}

#weather {
    font-size: 3rem;
    margin:0;
    font-weight: 900;
}

p {
    color: white;
}

#weather-display {
    display: flex;
    justify-content: space-between;
}

#town-search {
    border: none;
    background-color: transparent;
    outline: none;
    caret-color: white;
    border-bottom: 2px solid white;
    color: white;
}

#town-search-button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

#current-temperature {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom:0;
    margin-top: 0;

}

#town, #date, #time, #town-search {
    margin: 0;
    font-weight:200;
}

.weather-parameter-right-description {
    margin-bottom: 0;
    font-size: 1rem;
}

.weather-parameter-right {
    font-size: 1.5rem;
    margin-top: 0;
}

h1 {
    color: white;
    font-size: 5rem;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    text-align: center;
}

#unit-switcher {
    font-size: 0.8rem;
    cursor: pointer;
}

.right-parameter-external {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#forecast-display{
    display: flex;
    justify-content: space-between;
}

body {
    display: flex;

    justify-content: space-between;
    flex-direction: column;
    height: 90%;
}

::placeholder {
    color:white;
}



@media (max-width: 1000px){
    /* #forecast-display{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    } */
    .daily-container {
        margin-bottom: 0;
    }

    #weather {
        font-size: 1.5rem;
        font-weight: 900;
    }

    h1 {
        font-size: 3rem;
    }
    
    #unit-switcher {
        font-size: 0.6rem;
    }

    .daily-weather-icon{
        width: 50px;
        height: 50px;
    }

    .weather-parameter-right-description {
        margin-bottom: 0;
        font-size: 0.8rem;
    }
    .weather-parameter {
        font-size: 0.9rem;
    }
    #current-temperature {
        font-size: 1.5rem;
    }
}


@media (max-width: 800px){
    #forecast-display{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;

    }

    #forecast-display p{
        font-size: 0.7rem;

    }
    .daily-container {
        margin-bottom: 0.1rem;
    }

    #weather {
        font-size: 1.5rem;
        font-weight: 900;
    }

    #current-temperature {
        font-size: 1.5rem;
    }
    h1 {
        font-size: 3rem;
    }

    #unit-switcher {
        font-size: 0.5rem;
    }

    .daily-weather-icon{
        width: 40px;
        height: 40px;
    }

    .daily-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width:40%;
    }

    /* .temp-container {
        margin: 0 1rem;
    } */

    .max-temp {
        font-size: 1.1rem;
    }

    .min-temp {
        font-size: 0.9rem;
    }

    body {
        justify-content: space-between;
    }

    #error-displayer {
        font-size:0.7rem;
    }

    p {
        margin: 0;
    }

    .right-parameter-external{
        margin:1rem;
    }
}

@media (max-width: 300px){

    #forecast-display p{
        font-size: 0.5rem;

    }

    #weather {
        font-size: 1rem;
        font-weight: 900;
    }

    #current-temperature {
        font-size: 1rem;
    }
    h1 {
        font-size: 2rem;
    }

    #unit-switcher {
        font-size: 0.5rem;
    }

    .daily-weather-icon{
        width: 40px;
        height: 40px;
    }

    .daily-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width:40%;
    }


    .max-temp {
        font-size: 1.1rem;
    }

    .min-temp {
        font-size: 0.9rem;
    }

    #error-displayer {
        font-size:0.7rem;
    }

    .right-parameter-external{
        margin:1rem;
    }

    #town-search {
        width: 5rem;
    }
    
}
  




